#box2 {
	position: relative;
	border:2px solid black;
	width:47%;
	height: 400px;
	box-shadow:10px 10px 5px black;
	margin: 10px 10px 10px 10px;	
	display: none;
	cursor: pointer;
}

#office_scene2{
	position: absolute;
	height: 100%;
	width: 100%;
}
#Parallax{
	background-color: #fff;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#guardtalk{
	opacity: 0;
	height: 25%;
	position: absolute;
	top: 0;
	left: 100px;

}
#Background{
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
#DickPrisonerGuard{
	height: 100%;
	position: absolute;
	top:0;
	left:0;
}
#dicktalk{
	opacity: 0;
	height: 25%;
	position: absolute;
	top:0;
	left:500px;
}